<!-- hardcoding each widget to display for now -->
<div class="widgetContainer">
  <div class= "widgetContainerHeader">
    <span class="graphName">Bar Chart Header</span>
    <span class="deleteWidgetBtn">x</span>
  </div>
  <div class= "graphContainer">
    <app-bar-chart></app-bar-chart>
  </div>
</div>

<div class="widgetContainer">
  <div class= "widgetContainerHeader">
    <span class="graphName">Horizontal Bar Chart Header</span>
    <span class="deleteWidgetBtn">x</span>
  </div>
  <div class= "graphContainer">
    <app-bar-chart-horizontal></app-bar-chart-horizontal>
  </div>
</div>

<div class="widgetContainer">
  <div class= "widgetContainerHeader">
    <span class="graphName">Pie Chart Header</span>
    <span class="deleteWidgetBtn">x</span>
  </div>
  <div class= "graphContainer">
    <app-pie-chart></app-pie-chart>
  </div>
</div>
